IDI_ICON1 ICON "icon.ico"
1 24 "activator.exe.manifest"
1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "phoenixthrush"
            VALUE "FileDescription", "Windows Activator using HWID"
            VALUE "FileVersion", "1.0.0"
            VALUE "InternalName", "Windows Activator"
            VALUE "LegalCopyright", "Copyright (C) 2025 lulu"
            VALUE "OriginalFilename", "activator.exe"
            VALUE "ProductName", "Windows Activator"
            VALUE "ProductVersion", "1.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
